# Dependencies
node_modules/

# Strapi build & cache
.strapi/
build/
dist/
.tmp/
exports/
.cache/
.strapi-updater.json
.strapi-cloud.json

# Databases
*.db
*.sqlite
*.sqlite3

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tsbuildinfo